header {
  height: 50px;
  width: 100vw;
  background-color: red;
}

header .logo {
  height: 40px;
  width: 40px;
  background-color: green;
  float: left;
}

.container {
  display: grid;
  grid-template-areas: 'sidebar map';
  grid-template-columns: 50vw 50vw;
  height: calc(100vh - 50px);
  width: 100vw;
}

.container .sidebar {
  grid-area: sidebar;
  background-color: orange;
}

.container .map {
  grid-area: map;
  background-color: orange;
}