@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');

body {
  font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif', serif;
}

header {
  height: 70px;
  width: 100vw;
  border-bottom: 1px #cccccc solid;
}

.container {
  display: grid;
  grid-template-areas: 'sidebar map';
  grid-template-columns: 60vw 40vw;
  height: calc(100vh - 70px);
  width: 100vw;
}

/* .container .sidebar {
  grid-area: sidebar;
  background-color: orange;
}

.container .map {
  grid-area: map;
  background-color: orange;
} */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
